<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--应用名称-->
    <property name="APP_NAME" value="${artifactId}"/>

    <!--日志文件保存路径-->
    <property name="LOG_FILE_PATH" value="logs"/>

    <!--环境-->
    <springProperty name="ENV" source="spring.profiles.active"/>

    <contextName>${APP_NAME}</contextName>

    <!--每天记录日志到文件appender-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <springProfile name="dev,test">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="FILE"/>
    </root>
</configuration>